ziiot/nifi_templates/try_to_get_my_rest.json
{"flowContents":{"identifier":"1602a235-951b-3ba2-a271-cd70d4089954","instanceIdentifier":"9925d3ab-eea4-3b60-8869-aea2639ac617","name":"try_to_get_my","comments":"{\"templateId\":\"fb005cdc-bbc8-3f5f-bf71-2a29d7cdcdb2\",\"templateName\":\"GetSimmulationData_2_15\",\"parentId\":\"11cb2f94-f41f-41be-879b-b856b1514f79\"}","position":{"x":808.0,"y":-88.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4fae6730-2de7-3da5-96d4-3855d7d03e63","instanceIdentifier":"4fae6730-2de7-3da5-8b56-7b009630b4f7","name":"FetchDistributedMapCache","comments":"","position":{"x":-104.0,"y":-200.0},"type":"org.apache.nifi.processors.standard.FetchDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Cache Entry Identifier":"${processGroupId}_schedules","Put Cache Value In Attribute":null,"Distributed Cache Service":"7e51aae0-3cdd-3698-86bc-7067d776a201","Max Length To Put In Attribute":"256","Character Set":"UTF-8"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false},"Put Cache Value In Attribute":{"name":"Put Cache Value In Attribute","displayName":"Put Cache Value In Attribute","identifiesControllerService":false,"sensitive":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["not-found","failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"f33d4b97-2331-398f-86ae-f36eec155064","instanceIdentifier":"f33d4b97-2331-398f-a480-99e6bb3a2f01","name":"PutDistributedMapCache","comments":"","position":{"x":-1258.1170286228325,"y":-225.87419667347024},"type":"org.apache.nifi.processors.standard.PutDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Cache Entry Identifier":"${processGroupId}_schedules","Cache update strategy":"replace","Distributed Cache Service":"7e51aae0-3cdd-3698-86bc-7067d776a201","Max cache entry size":"128 MB"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false},"Cache update strategy":{"name":"Cache update strategy","displayName":"Cache update strategy","identifiesControllerService":false,"sensitive":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"Max cache entry size":{"name":"Max cache entry size","displayName":"Max cache entry size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"0c4ca5c4-f3f7-3e84-8fc6-887d49c04441","instanceIdentifier":"0c4ca5c4-f3f7-3e84-8616-fa2c752fdcf3","name":"ExecuteGroovyScript","comments":"","position":{"x":260.89112930300894,"y":-8.82881030286535},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"1.19.1"},"properties":{"groovyx-script-body":"def flowFile = session.get()\nif(!flowFile) return\nprocessGroupId = context.procNode?.processGroupIdentifier ?: 'unknown'\nflowFile = session.putAttribute(flowFile, 'processGroupId', processGroupId)\nsession.transfer(flowFile, REL_SUCCESS)","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"21a35dea-d956-3e77-be80-33d1cc99d8cf","instanceIdentifier":"93364441-ae73-11bd-0000-000025a77339","name":"jsontoattr_script","comments":"","position":{"x":2296.0,"y":64.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.19.1"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.commons.io.IOUtils\nimport java.nio.charset.*\ndef flowFile = session.get();\nif (flowFile == null) {\n    return;\n}\ndef slurper = new groovy.json.JsonSlurper()\ndef attrs = [:] as Map<String,String>\nsession.read(flowFile,\n    { inputStream ->\n        def text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n        def obj = slurper.parseText(text)\n        obj.each {k,v ->\n           attrs[k] = v.toString()\n        }\n    } as InputStreamCallback)\nflowFile = session.putAllAttributes(flowFile, attrs)\nsession.transfer(flowFile, REL_SUCCESS)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"03a9fd35-ed85-35a4-ae5c-610d39ce1318","instanceIdentifier":"03a9fd35-ed85-35a4-a1ba-e43b40a6dd52","name":"GetSimulationData","comments":"","position":{"x":280.0,"y":-192.0},"type":"com.zyfra.nifi.processors.GetSimulationData","bundle":{"group":"com.zyfra.nifi","artifact":"nifi-zyfra-simulation-nar","version":"4.0.0.0"},"properties":{"SIGNAL":"${SIM_Signal}","OUTPUT_FORMAT":"JSON","AMP":"${SIM_Amp}","CSV_CYCLE":"${SIM_CycleCsv}","CSV_DATEFORMAT":"${SIM_CsvDateFormat}","CSV_GENERATETIME":"False","PERIOD":"${SIM_Period}","OFFSET":"${SIM_Offset}","CSV Filename":"${SIM_CsvFile}","VALUES_COUNT":"${SIM_ValuesCount}"},"propertyDescriptors":{"SIGNAL":{"name":"SIGNAL","displayName":"SIGNAL","identifiesControllerService":false,"sensitive":false},"OUTPUT_FORMAT":{"name":"OUTPUT_FORMAT","displayName":"OUTPUT_FORMAT","identifiesControllerService":false,"sensitive":false},"AMP":{"name":"AMP","displayName":"AMP","identifiesControllerService":false,"sensitive":false},"CSV_CYCLE":{"name":"CSV_CYCLE","displayName":"Cycle reads from CSV","identifiesControllerService":false,"sensitive":false},"CSV_DATEFORMAT":{"name":"CSV_DATEFORMAT","displayName":"CSV Date format","identifiesControllerService":false,"sensitive":false},"CSV_GENERATETIME":{"name":"CSV_GENERATETIME","displayName":"Generate current time for values from CSV","identifiesControllerService":false,"sensitive":false},"PERIOD":{"name":"PERIOD","displayName":"PERIOD","identifiesControllerService":false,"sensitive":false},"OFFSET":{"name":"OFFSET","displayName":"OFFSET","identifiesControllerService":false,"sensitive":false},"CSV Filename":{"name":"CSV Filename","displayName":"CSV Filename","identifiesControllerService":false,"sensitive":false},"VALUES_COUNT":{"name":"VALUES_COUNT","displayName":"VALUES COUNT","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"5fcd7b61-2603-3570-8b36-4a7206c0d66f","instanceIdentifier":"45c6d19a-018d-1000-0000-0000713c7b29","name":"ExtractText","comments":"","position":{"x":976.0,"y":-760.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Maximum Capture Group Length":"1024","attribute1":"(.*)","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"attribute1":{"name":"attribute1","displayName":"attribute1","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"036e7b81-467c-3ed2-9f12-a8b10c55db74","instanceIdentifier":"036e7b81-467c-3ed2-a6c3-7a3fbf72cd46","name":"GetTSDSPoints","comments":"","position":{"x":-976.0,"y":-688.0},"type":"com.zyfra.nifi.processors.GetTSDSPoints","bundle":{"group":"com.zyfra.nifi","artifact":"nifi-zyfra-tsds-nar","version":"4.0.0.0"},"properties":{"AUTH_URL":"${AuthUrl}","NAME_MASK":"*","GET_WRITE_POINTS":"false","SCAN_CLASSES":"{\n\"1sec\":{\"period\":\"PT1s\",\"delay\":\"\"},\n\"1min\":{\"period\":\"PT1m\",\"delay\":\"\"}\n}","HTTP_TIMEOUT":"30000","TSDS_URL":"${RtdbMetadataUrl}","OUTPUT_FORMAT":"JSON","SSL Context Service":null,"GET_TOPICS_ATTRIBUTE":"false","EX_ATTRIBUTES":"IgnoreBad","CLIENT_ID":"${ClientId}","DEFAULT_SCANCLASS":"{\"period\":\"PT1s\",\"delay\":\"\"}","GET_DATA_CHECK_ATTRIBUTES":"false","POINT_SOURCE_LIST":"3dp","ONE_REQUEST_SIZE":"1000"},"propertyDescriptors":{"AUTH_URL":{"name":"AUTH_URL","displayName":"Auth url","identifiesControllerService":false,"sensitive":false},"NAME_MASK":{"name":"NAME_MASK","displayName":"Name mask","identifiesControllerService":false,"sensitive":false},"GET_WRITE_POINTS":{"name":"GET_WRITE_POINTS","displayName":"Get write points","identifiesControllerService":false,"sensitive":false},"CLIENT_SECRET_SENSITIVE":{"name":"CLIENT_SECRET_SENSITIVE","displayName":"ClientSecret","identifiesControllerService":false,"sensitive":true},"SCAN_CLASSES":{"name":"SCAN_CLASSES","displayName":"Scan classes","identifiesControllerService":false,"sensitive":false},"HTTP_TIMEOUT":{"name":"HTTP_TIMEOUT","displayName":"HTTP timeout","identifiesControllerService":false,"sensitive":false},"TSDS_URL":{"name":"TSDS_URL","displayName":"Zif-rtdb-metadata url","identifiesControllerService":false,"sensitive":false},"OUTPUT_FORMAT":{"name":"OUTPUT_FORMAT","displayName":"Output format","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"GET_TOPICS_ATTRIBUTE":{"name":"GET_TOPICS_ATTRIBUTE","displayName":"Get topics attribute","identifiesControllerService":false,"sensitive":false},"EX_ATTRIBUTES":{"name":"EX_ATTRIBUTES","displayName":"Additional attributes","identifiesControllerService":false,"sensitive":false},"CLIENT_ID":{"name":"CLIENT_ID","displayName":"ClientId","identifiesControllerService":false,"sensitive":false},"DEFAULT_SCANCLASS":{"name":"DEFAULT_SCANCLASS","displayName":"Default scan class","identifiesControllerService":false,"sensitive":false},"GET_DATA_CHECK_ATTRIBUTES":{"name":"GET_DATA_CHECK_ATTRIBUTES","displayName":"Get data check attributes","identifiesControllerService":false,"sensitive":false},"POINT_SOURCE_LIST":{"name":"POINT_SOURCE_LIST","displayName":"PointSource list","identifiesControllerService":false,"sensitive":false},"ONE_REQUEST_SIZE":{"name":"ONE_REQUEST_SIZE","displayName":"One requst size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["write_points"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"bb34f57c-4832-30ca-a932-82f5434d23d2","instanceIdentifier":"45c03f49-018d-1000-ffff-ffffd670a5a0","name":"SplitText","comments":"","position":{"x":352.0,"y":-760.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"31e00896-4e3f-32bc-ab6c-8c89b973d11e","instanceIdentifier":"31e00896-4e3f-32bc-aa14-707fd23feb09","name":"ExecuteGroovyScript","comments":"","position":{"x":-727.432944488495,"y":-437.7000509187101},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"1.19.1"},"properties":{"groovyx-script-body":"def flowFile = session.get()\nif(!flowFile) return\nprocessGroupId = context.procNode?.processGroupIdentifier ?: 'unknown'\nflowFile = session.putAttribute(flowFile, 'processGroupId', processGroupId)\nsession.transfer(flowFile, REL_SUCCESS)","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"333da563-1896-35d9-bffb-df85c282460c","instanceIdentifier":"93364ca7-ae73-11bd-0000-00000a51fd4e","name":"ReplaceText","comments":"","position":{"x":912.0,"y":0.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"[\n    {\n        \"pointName\": \"bed_temp\",\n        \"type\": \"DOUBLE\",\n        \"values\": [\n            {\n                \"a\": null,\n                \"q\": 0,\n                \"ts\": ${tag_time},\n                \"v\": \"${bed_temp}\"\n            }\n        ]\n    },\n    {\n        \"pointName\": \"e0_temp\",\n        \"type\": \"DOUBLE\",\n        \"values\": [\n            {\n                \"a\": null,\n                \"q\": 0,\n                \"ts\": ${tag_time},\n                \"v\": \"${e0_temp}\"\n            }\n        ]\n    },\n    {\n        \"pointName\": \"coordinates\",\n        \"type\": \"DOUBLE\",\n        \"values\": [\n            {\n                \"a\": null,\n                \"q\": 0,\n                \"ts\": ${tag_time},\n                \"v\": \"${coords}\"\n            }\n        ]\n    },\n    {\n        \"pointName\": \"homing\",\n        \"type\": \"DOUBLE\",\n        \"values\": [\n            {\n                \"a\": null,\n                \"q\": 0,\n                \"ts\": ${tag_time},\n                \"v\": \"${homing}\"\n            }\n        ]\n    },\n    {\n        \"pointName\": \"line_work\",\n        \"type\": \"DOUBLE\",\n        \"values\": [\n            {\n                \"a\": null,\n                \"q\": 0,\n                \"ts\": ${tag_time},\n                \"v\": \"${line_work}\"\n            }\n        ]\n    },\n    {\n        \"pointName\": \"working\",\n        \"type\": \"DOUBLE\",\n        \"values\": [\n            {\n                \"a\": null,\n                \"q\": 0,\n                \"ts\": ${tag_time},\n                \"v\": \"${working}\"\n            }\n        ]\n    },\n    {\n        \"pointName\": \"working_line_num\",\n        \"type\": \"DOUBLE\",\n        \"values\": [\n            {\n                \"a\": null,\n                \"q\": 0,\n                \"ts\": ${tag_time},\n                \"v\": \"${working_line_num}\"\n            }\n        ]\n    },\n    {\n        \"pointName\": \"x_home_state\",\n        \"type\": \"DOUBLE\",\n        \"values\": [\n            {\n                \"a\": null,\n                \"q\": 0,\n                \"ts\": ${tag_time},\n                \"v\": \"${x_home_state}\"\n            }\n        ]\n    },\n    {\n        \"pointName\": \"y_home_state\",\n        \"type\": \"DOUBLE\",\n        \"values\": [\n            {\n                \"a\": null,\n                \"q\": 0,\n                \"ts\": ${tag_time},\n                \"v\": \"${y_home_state}\"\n            }\n        ]\n    },\n    {\n        \"pointName\": \"z_home_state\",\n        \"type\": \"DOUBLE\",\n        \"values\": [\n            {\n                \"a\": null,\n                \"q\": 0,\n                \"ts\": ${tag_time},\n                \"v\": \"${z_home_state}\"\n            }\n        ]\n    }\n]","Evaluation Mode":"Line-by-Line","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"e026db8b-c62b-330b-8f9d-73ce5b6bdaf3","instanceIdentifier":"e026db8b-c62b-330b-9340-a13a9ed7740b","name":"PublishKafka_2_0","comments":"","position":{"x":256.62046026985445,"y":466.5165726999343},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_0","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.19.1"},"properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"${KafkaBrokers}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"${KafkaTopic}","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"52023855-665a-3083-8aba-6a86afef2a16","instanceIdentifier":"52023855-665a-3083-ad1b-b58a88dd1a14","name":"ControlRate","comments":"","position":{"x":-402.69846966269483,"y":470.5299450596715},"type":"org.apache.nifi.processors.standard.ControlRate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Maximum FlowFile Rate":null,"Time Duration":"1 sec","Grouping Attribute":null,"Maximum Rate":"10","Rate Controlled Attribute":null,"Rate Control Criteria":"flowfile count","Maximum Data Rate":null},"propertyDescriptors":{"Maximum FlowFile Rate":{"name":"Maximum FlowFile Rate","displayName":"Maximum FlowFile Rate","identifiesControllerService":false,"sensitive":false},"Time Duration":{"name":"Time Duration","displayName":"Time Duration","identifiesControllerService":false,"sensitive":false},"Grouping Attribute":{"name":"Grouping Attribute","displayName":"Grouping Attribute","identifiesControllerService":false,"sensitive":false},"Maximum Rate":{"name":"Maximum Rate","displayName":"Maximum Rate","identifiesControllerService":false,"sensitive":false},"Rate Controlled Attribute":{"name":"Rate Controlled Attribute","displayName":"Rate Controlled Attribute","identifiesControllerService":false,"sensitive":false},"Rate Control Criteria":{"name":"Rate Control Criteria","displayName":"Rate Control Criteria","identifiesControllerService":false,"sensitive":false},"Maximum Data Rate":{"name":"Maximum Data Rate","displayName":"Maximum Data Rate","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"485a9bfb-55f1-3f31-9eee-d3e3a4828c32","instanceIdentifier":"485a9bfb-55f1-3f31-9105-1f71de9b4fe2","name":"ProcessTSDSData","comments":"","position":{"x":264.0,"y":224.0},"type":"com.zyfra.nifi.processors.ProcessTSDSData","bundle":{"group":"com.zyfra.nifi","artifact":"nifi-zyfra-tsds-nar","version":"4.0.0.0"},"properties":{"TIMESTAMP_SCALE":"1000000","RESET_PERIOD":"60","USE_SOURCE_COMPRESSION":"true","MAX_VALUES_IN_MESSAGE":"10000","Distributed Cache Service":"7e51aae0-3cdd-3698-86bc-7067d776a201","USE_DATA_CHECK_ANNOTATIONS":"true","OUTPUT_FORMAT":"JSON","POINTS_CACHE_UPDATE_PERIOD":"60","SERVERTIME_AUTH_CLIENT_ID":null,"POINTS_CACHE_ATTEMPTS":"100","SERVERTIME_SYNC_PERIOD":"60","POINTS_CACHE_KEY":"${processGroupId}_points","TIMESTAMP_OFFSET":"0","OUTPUT_DICT_AS_STRING":"true","EXTRA_DATA_OUTPUT_FORMAT":"JSONv2 with point name","INPUT_FORMAT":"JSON point values","DATETIME_FORMAT":"yyyy-MM-dd HH:mm:ss.SSS","SERVERTIME_AUTH_URL":"https://ziiot.ru/auth/realms/ziiot","USE_DATA_CHECK_ONLY_GOOD":"true","MAP_QUALITIES_TO_GOOD":"0,192,193,194,195,216,217,218,219","USE_DATA_CHECK":"false","INSTRUMENT_TAG_WITH_POINTNAME":"false","DATA_CHECK_QUALITY_MAP":"freeze=2;overspeed=3;SH=4;SL=5;","DETECT_TIMESTAMP_SCALE":"true","SERVERTIME_URL":"","SSL Context Service":null},"propertyDescriptors":{"TIMESTAMP_SCALE":{"name":"TIMESTAMP_SCALE","displayName":"Scale timestamp factor","identifiesControllerService":false,"sensitive":false},"RESET_PERIOD":{"name":"RESET_PERIOD","displayName":"Reset period","identifiesControllerService":false,"sensitive":false},"USE_SOURCE_COMPRESSION":{"name":"USE_SOURCE_COMPRESSION","displayName":"Use compression on source","identifiesControllerService":false,"sensitive":false},"MAX_VALUES_IN_MESSAGE":{"name":"MAX_VALUES_IN_MESSAGE","displayName":"Max values in one message","identifiesControllerService":false,"sensitive":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"SERVERTIME_AUTH_CLIENT_SECRET":{"name":"SERVERTIME_AUTH_CLIENT_SECRET","displayName":"ClientSecret","identifiesControllerService":false,"sensitive":true},"USE_DATA_CHECK_ANNOTATIONS":{"name":"USE_DATA_CHECK_ANNOTATIONS","displayName":"Use data check annotations","identifiesControllerService":false,"sensitive":false},"OUTPUT_FORMAT":{"name":"OUTPUT_FORMAT","displayName":"Output format","identifiesControllerService":false,"sensitive":false},"POINTS_CACHE_UPDATE_PERIOD":{"name":"POINTS_CACHE_UPDATE_PERIOD","displayName":"Points cache update period","identifiesControllerService":false,"sensitive":false},"SERVERTIME_AUTH_CLIENT_ID":{"name":"SERVERTIME_AUTH_CLIENT_ID","displayName":"ClientId","identifiesControllerService":false,"sensitive":false},"POINTS_CACHE_ATTEMPTS":{"name":"POINTS_CACHE_ATTEMPTS","displayName":"Points cache attempts","identifiesControllerService":false,"sensitive":false},"SERVERTIME_SYNC_PERIOD":{"name":"SERVERTIME_SYNC_PERIOD","displayName":"Server time sync period","identifiesControllerService":false,"sensitive":false},"POINTS_CACHE_KEY":{"name":"POINTS_CACHE_KEY","displayName":"Points cache key","identifiesControllerService":false,"sensitive":false},"TIMESTAMP_OFFSET":{"name":"TIMESTAMP_OFFSET","displayName":"Timestamp offset in nanoseconds","identifiesControllerService":false,"sensitive":false},"OUTPUT_DICT_AS_STRING":{"name":"OUTPUT_DICT_AS_STRING","displayName":"Dict values as string","identifiesControllerService":false,"sensitive":false},"EXTRA_DATA_OUTPUT_FORMAT":{"name":"EXTRA_DATA_OUTPUT_FORMAT","displayName":"Extra data output format","identifiesControllerService":false,"sensitive":false},"INPUT_FORMAT":{"name":"INPUT_FORMAT","displayName":"Input format","identifiesControllerService":false,"sensitive":false},"DATETIME_FORMAT":{"name":"DATETIME_FORMAT","displayName":"Datetime format","identifiesControllerService":false,"sensitive":false},"SERVERTIME_AUTH_URL":{"name":"SERVERTIME_AUTH_URL","displayName":"Server time auth url","identifiesControllerService":false,"sensitive":false},"USE_DATA_CHECK_ONLY_GOOD":{"name":"USE_DATA_CHECK_ONLY_GOOD","displayName":"Use data check only for good values","identifiesControllerService":false,"sensitive":false},"MAP_QUALITIES_TO_GOOD":{"name":"MAP_QUALITIES_TO_GOOD","displayName":"List of qualities to map as good","identifiesControllerService":false,"sensitive":false},"USE_DATA_CHECK":{"name":"USE_DATA_CHECK","displayName":"Use data check and noise cancellation","identifiesControllerService":false,"sensitive":false},"INSTRUMENT_TAG_WITH_POINTNAME":{"name":"INSTRUMENT_TAG_WITH_POINTNAME","displayName":"Instrument tag with point name","identifiesControllerService":false,"sensitive":false},"DATA_CHECK_QUALITY_MAP":{"name":"DATA_CHECK_QUALITY_MAP","displayName":"Data check quality mapping","identifiesControllerService":false,"sensitive":false},"DETECT_TIMESTAMP_SCALE":{"name":"DETECT_TIMESTAMP_SCALE","displayName":"Auto-detect timestamp scale factor","identifiesControllerService":false,"sensitive":false},"SERVERTIME_URL":{"name":"SERVERTIME_URL","displayName":"Server time URL","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","ExtraData"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"05a9abf9-b5ea-32c6-bb26-658987b6a481","instanceIdentifier":"05a9abf9-b5ea-32c6-8038-ab005c9f2b83","name":"ExecuteGroovyScript","comments":"","position":{"x":-1251.7158729552918,"y":-434.5353780671476},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"1.19.1"},"properties":{"groovyx-script-body":"def flowFile = session.get()\nif(!flowFile) return\nprocessGroupId = context.procNode?.processGroupIdentifier ?: 'unknown'\nflowFile = session.putAttribute(flowFile, 'processGroupId', processGroupId)\nsession.transfer(flowFile, REL_SUCCESS)","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"f38a5c19-0f55-3617-9e5c-4458f2f60438","instanceIdentifier":"93363e7e-ae73-11bd-ffff-ffff86ff24df","name":"UpdateAttribute","comments":"","position":{"x":1552.0,"y":-160.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.19.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","tag_time":"${now():toNumber()}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"tag_time":{"name":"tag_time","displayName":"tag_time","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"000513de-6749-3558-875d-1c173f268347","instanceIdentifier":"000513de-6749-3558-87cd-6761f3747c04","name":"PutDistributedMapCache","comments":"","position":{"x":-726.9592222263482,"y":-224.9263359556968},"type":"org.apache.nifi.processors.standard.PutDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Cache Entry Identifier":"${processGroupId}_points","Cache update strategy":"replace","Distributed Cache Service":"7e51aae0-3cdd-3698-86bc-7067d776a201","Max cache entry size":"128 MB"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false},"Cache update strategy":{"name":"Cache update strategy","displayName":"Cache update strategy","identifiesControllerService":false,"sensitive":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"Max cache entry size":{"name":"Max cache entry size","displayName":"Max cache entry size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"dc8cbcd0-e465-3a9b-a1aa-1db0b18852b1","instanceIdentifier":"45e7b904-018d-1000-0000-000041671eaf","name":"RouteOnAttribute","comments":"","position":{"x":1936.0,"y":-752.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Routing Strategy":"Route to Property name","coordinates":"${attribute1:equals(\"coordinates\")}","bed_temp":"${attribute1:equals(\"bed_temp\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"coordinates":{"name":"coordinates","displayName":"coordinates","identifiesControllerService":false,"sensitive":false},"bed_temp":{"name":"bed_temp","displayName":"bed_temp","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"68001528-93b2-33ce-a9d8-86993d353787","instanceIdentifier":"68001528-93b2-33ce-8bfa-5b22911d9405","name":"ExecuteGroovyScript","comments":"","position":{"x":-214.06763381954966,"y":-440.2605062409757},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"1.19.1"},"properties":{"groovyx-script-body":"def flowFile = session.get()\nif(!flowFile) return\nprocessGroupId = context.procNode?.processGroupIdentifier ?: 'unknown'\nflowFile = session.putAttribute(flowFile, 'processGroupId', processGroupId)\nsession.transfer(flowFile, REL_SUCCESS)","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"f8b158e0-e422-37e9-a4e5-4df6f61938eb","instanceIdentifier":"f8b158e0-e422-37e9-bece-676b5566afb8","name":"SchedulePollingJob","comments":"","position":{"x":328.0,"y":-472.0},"type":"com.zyfra.nifi.processors.SchedulePollingJob","bundle":{"group":"com.zyfra.nifi","artifact":"nifi-zyfra-clustering-nar","version":"4.0.0.0"},"properties":{"OUTPUT_FORMAT":"TEXT"},"propertyDescriptors":{"OUTPUT_FORMAT":{"name":"OUTPUT_FORMAT","displayName":"Output format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"3000 ms","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"8456cc95-b7b3-3134-ae6c-5f477814060a","instanceIdentifier":"6baf39da-ec71-1d0b-81cc-ea30c86081fa","name":"EvaluateJsonPath","comments":"","position":{"x":1480.0,"y":-448.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Destination":"flowfile-attribute","working_line_num":"$.working_line_num","y_home_state":"$.y_home_state","e0_temp":"$.e0_temp","Return Type":"json","Null Value Representation":"empty string","JsonPaths":"$.coordinates","bed_temp":"$.bed_temp","Path Not Found Behavior":"ignore","line_work":"$.line_work","z_home_state":"$.z_home_state","working":"$.working","x_home_state":"$.x_home_state","homing":"$.homing","coords":"$.coordinates"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"working_line_num":{"name":"working_line_num","displayName":"working_line_num","identifiesControllerService":false,"sensitive":false},"y_home_state":{"name":"y_home_state","displayName":"y_home_state","identifiesControllerService":false,"sensitive":false},"e0_temp":{"name":"e0_temp","displayName":"e0_temp","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPaths":{"name":"JsonPaths","displayName":"JsonPaths","identifiesControllerService":false,"sensitive":false},"bed_temp":{"name":"bed_temp","displayName":"bed_temp","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"line_work":{"name":"line_work","displayName":"line_work","identifiesControllerService":false,"sensitive":false},"z_home_state":{"name":"z_home_state","displayName":"z_home_state","identifiesControllerService":false,"sensitive":false},"working":{"name":"working","displayName":"working","identifiesControllerService":false,"sensitive":false},"x_home_state":{"name":"x_home_state","displayName":"x_home_state","identifiesControllerService":false,"sensitive":false},"homing":{"name":"homing","displayName":"homing","identifiesControllerService":false,"sensitive":false},"coords":{"name":"coords","displayName":"coords","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"449f329b-ed9b-3a34-a53a-dffc26f0f6de","instanceIdentifier":"449f329b-ed9b-3a34-a0cd-79f4fcc35432","name":"GenerateFlowFile","comments":"","position":{"x":-216.0,"y":-672.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"95f5b9d1-6b70-3260-a5b7-4f1be722619f","instanceIdentifier":"6afa3fcc-b372-1167-80e6-dd894452f5e4","name":"InvokeHTTP","comments":"","position":{"x":840.0,"y":-480.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://ziiot.aplitastra.ru/datagen/opc-server-3dpr/getdatajson","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"43629fa8-4b80-3f9e-80fc-b07f47ece567","instanceIdentifier":"43629fa8-4b80-3f9e-a710-b6dace0a0de7","name":"","source":{"id":"485a9bfb-55f1-3f31-9eee-d3e3a4828c32","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"ProcessTSDSData","comments":"","instanceIdentifier":"485a9bfb-55f1-3f31-9105-1f71de9b4fe2"},"destination":{"id":"e026db8b-c62b-330b-8f9d-73ce5b6bdaf3","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"PublishKafka_2_0","comments":"","instanceIdentifier":"e026db8b-c62b-330b-9340-a13a9ed7740b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"0937e8be-c4cd-32f1-aa33-372c1cef247d","instanceIdentifier":"45ed1ddd-018d-1000-0000-00002471375c","name":"","source":{"id":"5fcd7b61-2603-3570-8b36-4a7206c0d66f","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"ExtractText","comments":"","instanceIdentifier":"45c6d19a-018d-1000-0000-0000713c7b29"},"destination":{"id":"dc8cbcd0-e465-3a9b-a1aa-1db0b18852b1","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"RouteOnAttribute","comments":"","instanceIdentifier":"45e7b904-018d-1000-0000-000041671eaf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"87bd5b17-3c16-3e78-a78e-c7f2be43c385","instanceIdentifier":"93363b36-ae73-11bd-0000-00000986c696","name":"","source":{"id":"95f5b9d1-6b70-3260-a5b7-4f1be722619f","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"InvokeHTTP","comments":"","instanceIdentifier":"6afa3fcc-b372-1167-80e6-dd894452f5e4"},"destination":{"id":"8456cc95-b7b3-3134-ae6c-5f477814060a","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"6baf39da-ec71-1d0b-81cc-ea30c86081fa"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"6d5738ad-270c-3c6c-835f-d030f16ee89b","instanceIdentifier":"93365528-ae73-11bd-ffff-ffff949894b7","name":"","source":{"id":"f8b158e0-e422-37e9-a4e5-4df6f61938eb","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"SchedulePollingJob","comments":"","instanceIdentifier":"f8b158e0-e422-37e9-bece-676b5566afb8"},"destination":{"id":"95f5b9d1-6b70-3260-a5b7-4f1be722619f","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"InvokeHTTP","comments":"","instanceIdentifier":"6afa3fcc-b372-1167-80e6-dd894452f5e4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["scheduled"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"09647d9f-4e4a-3f7b-a089-df5532318488","instanceIdentifier":"09647d9f-4e4a-3f7b-8b97-eebce2aa9fdd","name":"","source":{"id":"52023855-665a-3083-8aba-6a86afef2a16","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"ControlRate","comments":"","instanceIdentifier":"52023855-665a-3083-ad1b-b58a88dd1a14"},"destination":{"id":"e026db8b-c62b-330b-8f9d-73ce5b6bdaf3","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"PublishKafka_2_0","comments":"","instanceIdentifier":"e026db8b-c62b-330b-9340-a13a9ed7740b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":92.99950848717356,"y":404.7543074637872}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"6b5e9390-921d-32b0-b6fa-d1ff84190e17","instanceIdentifier":"93365516-ae73-11bd-0000-000049f277a1","name":"","source":{"id":"0c4ca5c4-f3f7-3e84-8fc6-887d49c04441","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"0c4ca5c4-f3f7-3e84-8616-fa2c752fdcf3"},"destination":{"id":"485a9bfb-55f1-3f31-9eee-d3e3a4828c32","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"ProcessTSDSData","comments":"","instanceIdentifier":"485a9bfb-55f1-3f31-9105-1f71de9b4fe2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"b12273e1-7b2a-3343-a38b-2f9a3e077e99","instanceIdentifier":"b12273e1-7b2a-3343-999f-475c9ddce29b","name":"","source":{"id":"449f329b-ed9b-3a34-a53a-dffc26f0f6de","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"GenerateFlowFile","comments":"","instanceIdentifier":"449f329b-ed9b-3a34-a0cd-79f4fcc35432"},"destination":{"id":"68001528-93b2-33ce-a9d8-86993d353787","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"68001528-93b2-33ce-8bfa-5b22911d9405"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"420aafbe-6569-3581-b223-befaf3ad20fb","instanceIdentifier":"420aafbe-6569-3581-a70f-2338e961f179","name":"","source":{"id":"68001528-93b2-33ce-a9d8-86993d353787","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"68001528-93b2-33ce-8bfa-5b22911d9405"},"destination":{"id":"4fae6730-2de7-3da5-96d4-3855d7d03e63","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"FetchDistributedMapCache","comments":"","instanceIdentifier":"4fae6730-2de7-3da5-8b56-7b009630b4f7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"ffbc620c-b131-39d9-85a1-461ff983f318","instanceIdentifier":"45c6f523-018d-1000-0000-000027cf18c3","name":"","source":{"id":"bb34f57c-4832-30ca-a932-82f5434d23d2","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"SplitText","comments":"","instanceIdentifier":"45c03f49-018d-1000-ffff-ffffd670a5a0"},"destination":{"id":"5fcd7b61-2603-3570-8b36-4a7206c0d66f","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"ExtractText","comments":"","instanceIdentifier":"45c6d19a-018d-1000-0000-0000713c7b29"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"ca92b537-6174-35e8-a37e-184eadcaf00e","instanceIdentifier":"ca92b537-6174-35e8-b7f0-0e706a738d67","name":"","source":{"id":"31e00896-4e3f-32bc-ab6c-8c89b973d11e","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"31e00896-4e3f-32bc-aa14-707fd23feb09"},"destination":{"id":"000513de-6749-3558-875d-1c173f268347","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"000513de-6749-3558-87cd-6761f3747c04"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"9238ffb2-4a30-3002-8f14-a003f13bbc9c","instanceIdentifier":"93365511-ae73-11bd-ffff-ffffdbd2e154","name":"","source":{"id":"333da563-1896-35d9-bffb-df85c282460c","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"ReplaceText","comments":"","instanceIdentifier":"93364ca7-ae73-11bd-0000-00000a51fd4e"},"destination":{"id":"0c4ca5c4-f3f7-3e84-8fc6-887d49c04441","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"0c4ca5c4-f3f7-3e84-8616-fa2c752fdcf3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"c444fa48-fdca-3ec9-8241-f90500bca437","instanceIdentifier":"c444fa48-fdca-3ec9-af4f-09b22c94b197","name":"","source":{"id":"4fae6730-2de7-3da5-96d4-3855d7d03e63","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"FetchDistributedMapCache","comments":"","instanceIdentifier":"4fae6730-2de7-3da5-8b56-7b009630b4f7"},"destination":{"id":"f8b158e0-e422-37e9-a4e5-4df6f61938eb","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"SchedulePollingJob","comments":"","instanceIdentifier":"f8b158e0-e422-37e9-bece-676b5566afb8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"28b89070-9b88-35f3-9c83-6d77ca521b9c","instanceIdentifier":"28b89070-9b88-35f3-8075-f0fa2625f09b","name":"","source":{"id":"036e7b81-467c-3ed2-9f12-a8b10c55db74","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"GetTSDSPoints","comments":"","instanceIdentifier":"036e7b81-467c-3ed2-a6c3-7a3fbf72cd46"},"destination":{"id":"05a9abf9-b5ea-32c6-bb26-658987b6a481","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"05a9abf9-b5ea-32c6-8038-ab005c9f2b83"},"labelIndex":1,"zIndex":0,"selectedRelationships":["schedules"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"8d616a5c-e9f7-35a4-9d0a-90a96c76faea","instanceIdentifier":"8d616a5c-e9f7-35a4-a608-b385519e0ed7","name":"","source":{"id":"036e7b81-467c-3ed2-9f12-a8b10c55db74","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"GetTSDSPoints","comments":"","instanceIdentifier":"036e7b81-467c-3ed2-a6c3-7a3fbf72cd46"},"destination":{"id":"31e00896-4e3f-32bc-ab6c-8c89b973d11e","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"31e00896-4e3f-32bc-aa14-707fd23feb09"},"labelIndex":1,"zIndex":0,"selectedRelationships":["allPoints"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"77588e71-6f22-3c73-a1d5-800c8816c04d","instanceIdentifier":"93364d4a-ae73-11bd-0000-000003d0a4d2","name":"","source":{"id":"8456cc95-b7b3-3134-ae6c-5f477814060a","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"6baf39da-ec71-1d0b-81cc-ea30c86081fa"},"destination":{"id":"f38a5c19-0f55-3617-9e5c-4458f2f60438","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"UpdateAttribute","comments":"","instanceIdentifier":"93363e7e-ae73-11bd-ffff-ffff86ff24df"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"8a230dad-0e3b-382d-8e1e-b77ab62c31e5","instanceIdentifier":"8a230dad-0e3b-382d-b19f-741f65d3f078","name":"","source":{"id":"e026db8b-c62b-330b-8f9d-73ce5b6bdaf3","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"PublishKafka_2_0","comments":"","instanceIdentifier":"e026db8b-c62b-330b-9340-a13a9ed7740b"},"destination":{"id":"52023855-665a-3083-8aba-6a86afef2a16","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"ControlRate","comments":"","instanceIdentifier":"52023855-665a-3083-ad1b-b58a88dd1a14"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"632e4d74-6cbe-3faf-afec-90493e580254","instanceIdentifier":"632e4d74-6cbe-3faf-b92d-15d97a5fa84e","name":"","source":{"id":"05a9abf9-b5ea-32c6-bb26-658987b6a481","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"05a9abf9-b5ea-32c6-8038-ab005c9f2b83"},"destination":{"id":"f33d4b97-2331-398f-86ae-f36eec155064","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"f33d4b97-2331-398f-a480-99e6bb3a2f01"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"b8e5e472-2ece-3eb4-a11f-b4866a7c7335","instanceIdentifier":"93364d54-ae73-11bd-0000-00002d20c2ba","name":"","source":{"id":"f38a5c19-0f55-3617-9e5c-4458f2f60438","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"UpdateAttribute","comments":"","instanceIdentifier":"93363e7e-ae73-11bd-ffff-ffff86ff24df"},"destination":{"id":"333da563-1896-35d9-bffb-df85c282460c","type":"PROCESSOR","groupId":"1602a235-951b-3ba2-a271-cd70d4089954","name":"ReplaceText","comments":"","instanceIdentifier":"93364ca7-ae73-11bd-0000-00000a51fd4e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"}],"labels":[],"funnels":[{"identifier":"a9850f44-830d-3f43-bbf8-c1531ee7780d","instanceIdentifier":"45d35ab9-018d-1000-0000-00006bf3c6f3","position":{"x":2256.0,"y":248.0},"componentType":"FUNNEL","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"}],"controllerServices":[{"identifier":"6f1c86cd-77af-35d3-b7d8-d7b8a7e0a63c","instanceIdentifier":"45c29f79-018d-1000-ffff-ffffc5cd23dc","name":"JsonRecordSetWriter","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.19.1"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.19.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"f728242a-2b52-36eb-aa91-4a10e88fc0d7","instanceIdentifier":"93363f46-ae73-11bd-0000-000006ad0e24","name":"JsonTreeReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.19.1"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.19.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"d08316a5-3633-37e8-9817-711c8fadfedd","instanceIdentifier":"45c2798a-018d-1000-ffff-ffff84edf1fa","name":"CSVReader","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.19.1"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.19.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"7e51aae0-3cdd-3698-86bc-7067d776a201","instanceIdentifier":"7e51aae0-3cdd-3698-88ed-325ccb74c04f","name":"RedisDistributedMapCacheClientService","comments":"","type":"org.apache.nifi.redis.service.RedisDistributedMapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-nar","version":"1.19.1"},"properties":{"redis-connection-pool":"42e5e1ec-c918-3a3d-8523-65316a38e04e","redis-cache-ttl":"0 secs"},"propertyDescriptors":{"redis-connection-pool":{"name":"redis-connection-pool","displayName":"Redis Connection Pool","identifiesControllerService":true,"sensitive":false},"redis-cache-ttl":{"name":"redis-cache-ttl","displayName":"TTL","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.19.1"}},{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.19.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"},{"identifier":"42e5e1ec-c918-3a3d-8523-65316a38e04e","instanceIdentifier":"42e5e1ec-c918-3a3d-b541-05eb9186b4f6","name":"RedisConnectionPoolService","comments":"","type":"org.apache.nifi.redis.service.RedisConnectionPoolService","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-nar","version":"1.19.1"},"properties":{"Pool - Min Evictable Idle Time":"60 seconds","Pool - Test On Borrow":"false","Pool - Test On Return":"false","Redis Mode":"Standalone","Pool - Max Idle":"8","Pool - Block When Exhausted":"true","Cluster Max Redirects":"5","Pool - Num Tests Per Eviction Run":"-1","Connection String":"${RedisUrl}","Pool - Max Total":"8","Pool - Test On Create":"false","SSL Context Service":null,"Pool - Min Idle":"0","Pool - Test While Idle":"true","Pool - Time Between Eviction Runs":"30 seconds","Communication Timeout":"10 seconds","Pool - Max Wait Time":"10 seconds","Database Index":"0","Sentinel Master":null},"propertyDescriptors":{"Pool - Min Evictable Idle Time":{"name":"Pool - Min Evictable Idle Time","displayName":"Pool - Min Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"Pool - Test On Borrow":{"name":"Pool - Test On Borrow","displayName":"Pool - Test On Borrow","identifiesControllerService":false,"sensitive":false},"Pool - Test On Return":{"name":"Pool - Test On Return","displayName":"Pool - Test On Return","identifiesControllerService":false,"sensitive":false},"Redis Mode":{"name":"Redis Mode","displayName":"Redis Mode","identifiesControllerService":false,"sensitive":false},"Pool - Max Idle":{"name":"Pool - Max Idle","displayName":"Pool - Max Idle","identifiesControllerService":false,"sensitive":false},"Pool - Block When Exhausted":{"name":"Pool - Block When Exhausted","displayName":"Pool - Block When Exhausted","identifiesControllerService":false,"sensitive":false},"Cluster Max Redirects":{"name":"Cluster Max Redirects","displayName":"Cluster Max Redirects","identifiesControllerService":false,"sensitive":false},"Pool - Num Tests Per Eviction Run":{"name":"Pool - Num Tests Per Eviction Run","displayName":"Pool - Num Tests Per Eviction Run","identifiesControllerService":false,"sensitive":false},"Connection String":{"name":"Connection String","displayName":"Connection String","identifiesControllerService":false,"sensitive":false},"Pool - Max Total":{"name":"Pool - Max Total","displayName":"Pool - Max Total","identifiesControllerService":false,"sensitive":false},"Pool - Test On Create":{"name":"Pool - Test On Create","displayName":"Pool - Test On Create","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Pool - Min Idle":{"name":"Pool - Min Idle","displayName":"Pool - Min Idle","identifiesControllerService":false,"sensitive":false},"Pool - Test While Idle":{"name":"Pool - Test While Idle","displayName":"Pool - Test While Idle","identifiesControllerService":false,"sensitive":false},"Pool - Time Between Eviction Runs":{"name":"Pool - Time Between Eviction Runs","displayName":"Pool - Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Communication Timeout":{"name":"Communication Timeout","displayName":"Communication Timeout","identifiesControllerService":false,"sensitive":false},"Pool - Max Wait Time":{"name":"Pool - Max Wait Time","displayName":"Pool - Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Index":{"name":"Database Index","displayName":"Database Index","identifiesControllerService":false,"sensitive":false},"Sentinel Master":{"name":"Sentinel Master","displayName":"Sentinel Master","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.redis.RedisConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-service-api-nar","version":"1.19.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1602a235-951b-3ba2-a271-cd70d4089954"}],"variables":{"KafkaBrokers":"zif-kafka-cp-kafka-headless:9092","PointSource":"3dp","SIM_CsvFile":"","SIM_Offset":"0","RedisUrl":"zif-redis-master:6379","DefaultScanClass":"{\"period\":\"PT60s\",\"delay\":\"PT0s\"}","TagMask":"*","SIM_Signal":"SIN","AuthUrl":"https://ziiot.aplitastra.ru/auth/realms/ziiot","SIM_CsvDateFormat":"yyyy-MM-dd HH:mm:ss.SSS","SIM_Period":"600000","RtdbMetadataUrl":"http://zif-rtdb-metadata/api/v0.1","SIM_CycleCsv":"false","KafkaTopic":"nifi-data","ClientId":"apache-nifi-client","SIM_ValuesCount":"1","ScanClasses":"{\n\"1sec\":{\"period\":\"PT1s\",\"delay\":\"\"},\n\"1min\":{\"period\":\"PT1m\",\"delay\":\"\"}\n}","SIM_Amp":"100"},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}